.page {
    width: 330px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 0 0 20px 0
}

.logo {
    text-align: center
}


.logo img {
    height: 250px;
    width: 250px
}

img {
    border-width: 0
}

.search {
    text-align: center;
    margin: 30px 0 20px 0
}

.links ul li {
    display: inline
}

.links ul li a:hover {
    color: #fff
}

.links ul li a:link {
    color: #fff
}

.links ul li a:visited {
    color: #fff
}

.links ul li a:active {
    color: #fff
}

table {
    width: 100%
}

#data-input {
    float: left;
    padding-left: 10px;
    width: 100%;
    border: 1px #c7cad1 solid;
    background: #fff;
    height: 30px;
    line-height: 30px;
    vertical-align: middle
}

#data-submit {
    float: right;
    height: 30px
}

.sys-cmd {
    position: relative;
    font-family: monospace
}



.sys-cmd li {
    list-style: none
}

.cmd-title {
    font-family: monospace;
    margin: 10px 0 5px 0
}


.kq-well {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px
}

.kq-button {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 100%;
    border: 0;
    color: #333;
    border-radius: 2px;
    padding: 8px 14px 8px 14px;
    background: #ebebeb
}

.kq-button:hover {
    border-color: #adadad
}

.kq-button:active {
    position: relative;
    top: 1px;
    color: #999
}

body, div, dl, dt, dd, ul, ol, li, pre, code, form, input, textarea, blockquote, th, td {
    margin: 0;
    padding: 0
}